Builds/MacOSX/build
Builds/MacOSX/MusicHackday2014Project.xcodeproj/project.xcworkspace
Builds/MacOSX/Shuttertone.xcodeproj/project.xcworkspace/xcuserdata/Liam.xcuserdatad
Builds/VisualStudio2019/x64/
Builds/VisualStudio2019/.vs/
